<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<mat-list fxLayout="column" *ngIf="!isLoading">
  <mat-list-item fxFlexFill fxLayoutGap="10px" *ngFor="let topic of dailyTopics">
    <mat-card style="margin: 16px;">
      <mat-card-header>
        <mat-card-title>{{topic.topicName}}</mat-card-title>
        <mat-card-subtitle color="primary">{{topic.status}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{topic.subjectName}}
      </mat-card-content>
      <mat-card-actions fxLayout="row">
        <button fxFlexAlign="end" mat-raised-button color="primary" [disabled]="topic.isLoading"
          (click)="onSendNotificationToStudentClick(topic)">
          <span *ngIf="topic.isLoading">Sending...</span>
          <span *ngIf="!topic.isLoading">Send to Students</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
